$color: #5FEBF2;
$serialBgColor: #14D2F7;
$serialContentBgColor: #0171B0;


.page_two {
  padding: 20px;
  
  color: $color;

  p {
    margin-bottom: 0;
    text-align: left;
  }

  .the_one_ranking {

    font-size: 14px;
    
    .one_ranking_b7 {
      padding: 20px 20px 5px;
    }
  }

  .serial_number {
    padding: 1px 6.5px;

    font-size: 12px;
    color: #000;

    border-radius: 50%;
    background: $serialBgColor;
  }

  .serial_content {
    margin: 0 10px;
    padding: 3px 40px;

    font-size: 12px;
    color: #fff;

    background: $serialContentBgColor;
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.3) inset;
    white-space: nowrap;
  }
}